.wp-block-bigbite-image-comparison__container {
  cursor: col-resize;
  height: var(--bigbite-image-comparison-container-height);
  max-width: 100%;
  width: var(--bigbite-image-comparison-container-width);
}

.wp-block-bigbite-image-comparison--horizontal .wp-block-bigbite-image-comparison__container {
  cursor: row-resize;
}
