.wp-block-bigbite-image-comparison-item {
  pointer-events: auto;
}

.wp-block-bigbite-image-comparison-item img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.wp-block-bigbite-image-comparison-item .wp-block-bigbite-image-comparison-item__uploader {
  width: 100%;
  height: 100%;
  padding: 128px 64px;
  background: #efefef;
}

.wp-block-bigbite-image-comparison-item + .wp-block-bigbite-image-comparison-item .wp-block-bigbite-image-comparison-item__uploader {
  text-align: right;
  background: #dfdfdf;
}
